-e .
pip>=8.1.2
bumpversion==0.5.3
wheel>=0.29.0
watchdog==0.8.3
flake8==3.5.0
tox==2.9.1
coverage==4.4.2
cryptography==2.1.4
PyYAML==3.12
pytest==3.3.2
pytest-runner==4.1
moto[server]==1.2.0
requests==2.18.4
Sphinx==1.6.5
pytest-asyncio==0.8.0
